* {
    padding: 0;
    margin: 0;
    font-family: 'freight-big-pro';
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    background-color: #000;
}

#loader {
    height: 100vh;
    width: 100%;
    background-color: #000;
    position: fixed;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 99;
}

#loader h1 {
    font-size: 6.5vw;
    font-weight: 100;
    line-height: 5.9vw;
    letter-spacing: -3px;
    position: relative;
    z-index: 9;
}

#yellow1 {
    height: 100%;
    width: 100%;
    background-color: #F5E41B;
    position: absolute;
    z-index: 8;
}

#yellow2 {
    height: 100%;
    width: 100%;
    background-color: #F5E41B;
    position: absolute;
    z-index: 7;
}

#loader video {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 6;
}

#nav {
    position: absolute;
    width: 100%;
    /* background: red; */
    padding: 24px 24px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page1 {
    height: 100vh;
    width: 100%;
    background-color: #F5E41B;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#page1 h1 {
    font-size: 6.5vw;
    font-weight: 100;
    line-height: 5.9vw;
    letter-spacing: -3px;
}

#page2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #000;
}

#page3 {
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #fff;
}